/*
 green: #8d8741
 blue: #659dbd
 pink: #daad86
 orange:bc986a
 tan: #fbeec1
*/
html {
  min-height: 100%;
}
body {
  background-image: url('assets/bg.png');
  background-size: cover;
  background-position: center bottom;
  background-repeat: repeat-x;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
div.container {
  width: 100%;
  text-align: center;
}
div.game {
  background-color: #fbeec1;
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border-style: solid;
  border-width: 4px;
  border-color: gray;
  width: 400px;
  display: inline-block;
}
h1 {
  font-family: "Fjalla One", sans-serif;
  text-align: center;
  color: white;
  margin-bottom: 100px;
}
#time {
  font-family: "Share Tech Mono", monospace;
  text-align: center;
}
p {
  font-family: "Open Sans Pro", sans-serif;
  text-align: center;
}
h2 {
  font-family: "Fjalla One", sans-serif;
  text-align: center;
}
.buttons button {
  /*background-color: #4CAF50;  Green background */
  padding: 10px 14px; /* Some padding */
  margin-bottom: 10px;
  cursor: pointer; /* Pointer/hand icon */
  display: block; /* Make the buttons appear below each other */
  width: 100%;
}
